extends ../layout

block content
    svg.bi.bi-arrow-left(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
        path(fill-rule='evenodd' d='M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z')
        path(fill-rule='evenodd' d='M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z')
    a(href="/bicicletas") Volver

    br
    br
    br

    h1 Actualizando Bicicleta bici.code

    br
    br
    .form
        form(action=`/bicicletas/${bici.code}/update` method="post")
            label(form='id') Id
            input.form-control#id(type="text", name="id",value=bici.code)
            br
            label(form='modelo') Modelo
            input.form-control#modelo(type="text", name="modelo" value=bici.modelo)
            br
            label(form='color') Color
            input.form-control#color(type="text", name="color" value=bici.color)
            br
            label(form='lat') latitud
            input.form-control#lat(type="text", name="lat" value=bici.ubicacion[0])
            br
            label(form='lng') Longitud
            input.form-control#lng(type="text", name="lng" value=bici.ubicacion[1])
            br
            br
            input.btn.btn-primary.btn-lg(type="submit", value="OK")